.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 156px;
  background-color: #fff;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 240ms ease-in-out;
  border-radius: 10px;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.sl-image img {
  border-radius: 10px;
}
